<div style="display: flex; flex-direction: column;" class="mat-elevation-z8">
	<mat-table #table [dataSource]="companies">
		<ng-container matColumnDef="companyName">
			<mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<a [routerLink]="['/company', element.id]">{{ element.companyName }}</a>
			</mat-cell>
		</ng-container>
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
      <mat-cell *matCellDef="let element" (mouseover)="getRating(element.rating)" matTooltip={{ratingFromService}}>
        <i class="material-icons">{{getIconName(element.rating)}}</i>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>
