<div style='display: flex; justify-content: space-around; align-items: center; margin-bottom: 10px;'>
  <div class='mat-title' style='margin-bottom: 0px;'>{{ pageTitle }}</div>
  <div style='align-self: center;'>
      <button type="button" mat-fab id="btnAddCompany" (click)="addCompany()">
          <mat-icon>add</mat-icon>
      </button>
  </div>
</div>
<div style="display: flex; flex-direction: column;" class="mat-elevation-z8">
	<mat-table #table [dataSource]="companies">
		<ng-container matColumnDef="companyName">
			<mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<a [routerLink]="['/company', element.id]">{{ element.companyName }}</a>
			</mat-cell>
		</ng-container>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>
  <!-- id: number;
  companyName: string;
  sales: number;
  employees: number;
  addr1: string;
  addr2: string;
  city: string;
  state: string;
  zip: string;
  phone: string;
  contact: boolean;
  mail: boolean;
  mailDate: Date;
  callOn: Date;
  companyNotes: Date;
  rating: number;
  nearby: boolean;
  appropriate: number;
  consultants: boolean; -->