<div class='panel panel-primary' *ngIf='company'>
  <form [formGroup]="form" style="padding: 1em">
    <div class="formContainer">
      <mat-form-field>
        <input matInput placeholder="Company" name="companyName" formControlName="companyName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr1" name="addr1" formControlName="addr1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr2" name="addr2" formControlName="addr2">
      </mat-form-field>
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <div style="width: 40%">
          <mat-form-field>
            <input matInput placeholder="City" name="city" formControlName="city">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 15%">
          <mat-form-field>
            <input matInput placeholder="State" name="state" formControlName="company.state">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 40%">
          <mat-form-field>
            <mat-select required [formControl]="form.controls.rating" 
            name="rating" (selectionChange)="ratingSelection($event.value)" placeholder="Rating">
              <mat-select-trigger>
                  {{form.controls.rating.value?.name}}
              </mat-select-trigger>
              <mat-option *ngFor="let rating of ratings" [value]="rating">
                <div class="option">
                  <div>{{ rating.description }}</div>
                  <div><i class="material-icons mt-icon">{{ rating.iconName}}</i></div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-around">
        <button mat-raised-button color="primary" type="submit" id="btnSave" (click)="save()">SAVE</button>
        <button mat-raised-button color="" id="btnBack" (click)="back()">BACK</button>
        <button mat-raised-button color="warn" id="btnDelete" (click)="openConfirmationDialog()">DELETE</button>
      </div>
    </div>
  </form>
  <div style="padding: 1em" id="contact-list">
    <crm-contact-list [companyId]='company.id'></crm-contact-list>
  </div>
</div>