<div class='panel panel-primary' *ngIf='company'>
  <form [formGroup]="companyForm" (ngSubmit)="save()" style="padding: 1em">
    <div class="formContainer">
      <mat-form-field>
        <input matInput placeholder="Company" formControlName="companyName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr1" formControlName="addr1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr2" formControlName="addr2">
      </mat-form-field>
      <div style="display: flex; flex-direction: row; justify-content: space-between">
        <div style="width: 40%">
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 15%">
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 40%">
          <mat-form-field>
            <mat-select required formControlName="ratingValue" placeholder="Rating">
              <mat-select-trigger>
                  {{getRatingName(companyForm.controls.ratingValue.value)}}
              </mat-select-trigger>
              <mat-option *ngFor="let rating of ratings" [value]="rating.ratingValue">
                <div class="option">
                  <div>{{ rating.description }}</div>
                  <div><i class="material-icons mt-icon">{{ rating.iconName}}</i></div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-around">
        <button mat-raised-button type="submit" color="primary" id="btnSave">SAVE</button>
        <button mat-raised-button type="button" color="" id="btnBack" (click)="back()">BACK</button>
        <button mat-raised-button type="button" color="warn" id="btnDelete" (click)="openConfirmationDialog()">DELETE</button>
      </div>
    </div>
  </form>
  <div style="padding: 1em" id="contact-list">
    <crm-contact-list [companyId]='company.id'></crm-contact-list>
  </div>
</div>