<div class='panel panel-primary' *ngIf='company'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>
  <form>
    <div class="formContainer">
      <mat-form-field>
        <input matInput placeholder="Company" name="companyName" [(ngModel)]="company.companyName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr1" name="addr1" [(ngModel)]="company.addr1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Addr2" name="addr2" [(ngModel)]="company.addr2">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" name="city" [(ngModel)]="company.city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="state" [(ngModel)]="company.state">
      </mat-form-field>
      <div style="display: flex; flex-direction: row; justify-content: space-around">
          <button mat-raised-button color="primary" type="submit" id="btnSave" (click)="save()">SAVE</button>
          <button mat-raised-button color="warn" id="btnDelete" (click)="openConfirmationDialog()">DELETE</button>
      </div>
    </div>
  </form>
  <div style="padding: 1em" id="contact-list">
      <crm-contact-list [companyId]='company.id'></crm-contact-list>
  </div>
</div>
