<div class='panel panel-primary' *ngIf='contact'>
  <form [formGroup]="contactForm" (ngSubmit)="save()" style="padding: 1em">
    <div class="formContainer">
      <div class="flexRowBetween">
        <div style="display: inline-block; width: 50%">
          <mat-form-field>
            <input matInput required placeholder="First Name" formControlName="fName">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 50%">
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lName">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <div class="flexRowBetween">
        <div style="display: inline-block; width: 50%">
          <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
        </div>
        <div style="display: inline-block; width: 50%">
          <mat-form-field>
            <input matInput placeholder="Ext." formControlName="ext">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox formControlName="shouldContact">Should Contact</mat-checkbox>
    </div>
    <div class="flexRowAround" style="margin: 10px 0">
      <button mat-raised-button color="primary" type="submit" id="btnSave" [disabled]="!contactForm.valid">SAVE</button>
      <button mat-raised-button color="" type="button" id="btnBack" (click)="backToList()">BACK</button>
    </div>
    <div id="note-list">
      <crm-note-list [contactId]='contact.id'></crm-note-list>
    </div>
  </form>
</div>
