<div style="display: flex; flex-direction: column;" class="mat-elevation-z1">
  <mat-table #table [dataSource]="contacts">
      <ng-container matColumnDef="fName">
          <mat-header-cell *matHeaderCellDef>First</mat-header-cell>
          <mat-cell *matCellDef="let element">
              <a [routerLink]="['/contact', element.id]">{{element.fName + ' ' + element.lName}}</a>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let element">
              {{element.title}}
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div style="margin: 4px">
    <button type="button" class="btn btn-default" id="btnAddContact" (click)="addContact()">Add</button>
  </div>
</div>
