<div class="mat-app-background">
  <mat-drawer-container>
    <mat-drawer #drawer mode="push" [(opened)]="opened">
      <mat-toolbar style="display: flex; flex-direction: column; justify-items:left;">
        <button mat-button (click)="goHome()">
          Home
        </button>
        <button mat-button (click)="gotoCompany()">
          Companies
        </button>
      </mat-toolbar>
    </mat-drawer>
    <mat-drawer-content>
      <div>
        <mat-toolbar style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 12px">
          <button type="button" mat-icon-button id="btnMenu" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          {{pageTitle}}
          <button type="button" mat-icon-button id="btnSearch">
            <mat-icon>search</mat-icon>
          </button>
          <div>
            <button type="button" mat-icon-button id="btnMore" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="menuData">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu" xPosition="before">
                <ng-template matMenuContent let-aliasMenuItems="menuItems">
                  <button mat-menu-item *ngFor="let item of aliasMenuItems" (click)="handleMenuAction(item.action)">
                    {{item.text}}
                  </button>
                </ng-template>
            </mat-menu>
          </div>
        </mat-toolbar>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>