<div style="display: flex; flex-direction: column;" class="mat-elevation-z1">
  <mat-table #table [dataSource]="notes">
    <ng-container matColumnDef="contactDate">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let note">
        <a [routerLink]="['/note', note.id]" [queryParams]="{contactId: note.contactId}">{{note.contactDate | date:'shortDate'}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noteText">
      <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
      <mat-cell *matCellDef="let note">
        <span style="max-width: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
          {{note.noteText}}
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div style="margin: 10px 0" class="flexRowCenter">
    <button type="button" mat-fab id="btnAddNote" (click)="addNote()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>