@import "~@angular/material/prebuilt-themes/indigo-pink.css";
li {
    font-size: large;
}
div.panel-heading {
   font-size: x-large;
}
.fieldInvalid {
    color: red;
    padding: 0 15px;
    margin-top: 5px;
}
.formContainer {
    display: flex;
    flex-direction: column;
}
