@import "~@angular/material/prebuilt-themes/indigo-pink.css";
li {
    font-size: large;
}
div.panel-heading {
   font-size: x-large;
}
.fieldInvalid {
    color: blue;
    padding: 0 15px;
    margin-top: 5px;
}
.formContainer {
    display: flex;
    flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexRowAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mat-button-toggle {
  margin: 0 2px;
}
