<div style="min-height: 100%; flex: 1; display: flex; flex-direction: column; justify-content: space-around;">
  <div>
      <div class="mat-headline flexRowCenter">{{pageTitle}}</div>
  </div>
  <div>
      <div class="mat-title flexRowCenter">Contact Manager</div>
  </div>
  <div class="mat-title">
      <div class="mat-body-1 flexRowCenter">Developed by:</div>
      <div class="mat-body-2 flexRowCenter">Dewey Jones</div>
  </div>
  <div class="flexRowCenter">
    <button mat-raised-button color="primary" type="button" (click)="register()">REGISTER</button>
  </div>
  <div class="flexRowCenter">
    <button mat-raised-button color="primary" type="button" (click)="login()">LOGIN</button>
  </div>
</div>

